<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Visitantes</title>
</head>
<body>
    <h2>Cadastro de Visitantes</h2>
    <form method="POST">
        <label>Nome: </label>
        <input type="text" name="nome" placeholder="Nome" required><br>
        <label>Email: </label>
        <input type="text" name="email" placeholder="Email" required><br>
        <label>Curso: </label><br>
        <input type="radio" name="curso" id="logistica" value="Logística" required>
        <label for="logistica">Logística</label><br>
        <input type="radio" name="curso" id="ads" value="ADS">
        <label for="logistica">Análise e Desenvolvimento de Sistemas</label><br>
        <input type="radio" name="curso" id="comex" value="ComEx">
        <label for="logistica">Comércio Exterior</label><br>
        <input type="radio" name="curso" id="plasticos" value="Plásticos">
        <label for="logistica">Desenvolvimento de Produtos Plásticos</label><br>
        <input type="radio" name="curso" id="dsm" value="DSM">
        <label for="logistica">Desenvolvimento de Softwares Multiplataforma</label><br>
        <input type="radio" name="curso" id="rh" value="RH">
        <label for="logistica">Gestão de Recursos Humanos</label><br>
        <input type="radio" name="curso" id="gestao" value="Gestão">
        <label for="logistica">Gestão Empresarial</label><br>
        <input type="radio" name="curso" id="polimeros" value="Polímeros">
        <label for="logistica">Polímeros</label><br>
        <button type="submit">Salvar</button>
    </form>
</body>
</html>