<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Cadastro - Fatec Portas Abertas </title>
    <meta name="description" content="">
    <meta name="keywords" content="">

    <!-- Favicons -->
    <link href="static/img/logo-CPS.png" rel="icon">
    <link href="static/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">

    <!-- Main CSS File -->
    <link href="static/css/main.css" rel="stylesheet">

</head>

<body class="index-page">

    <script>
        const MENSAGEM = "{{ mensagem }}";
    </script>

    <main class="main">

        <!-- Hero Section -->
        <section id="hero" class="hero section">

            <div class="hero-bg">
                <img src="static/img/hero-bg-light.webp" alt="">
            </div>

            <div class="container text-center">

                <h1 data-aos="fade-up">Bem-Vindos à <span>Fatec-ZL</span></h1>

                <!-- ORÁCULO -->
                <section id="contact" class="contact section oraculo-box">

                    <!-- Section Title -->
                    <div class="container section-title">
                        <h2>ORÁCULO</h2>
                    </div>

                    <div class="container">

                        <div class="row gy-4 mt-1 justify-content-center">

                            <div class="col-lg-6 mx-auto">

                                <form id="oraculo-form" class="php-email-form w-100">

                                    <div class="row">

                                        <!-- COR FAVORITA -->
                                        <div class="col-md-6">
                                            <label class="titulo-grupo">Cor Favorita</label>

                                            <label class="opcao">
                                                <input type="radio" name="cor" value="azul" required>
                                                <span>Azul</span>
                                            </label>

                                            <label class="opcao">
                                                <input type="radio" name="cor" value="vermelho">
                                                <span>Vermelho</span>
                                            </label>

                                            <label class="opcao">
                                                <input type="radio" name="cor" value="verde">
                                                <span>Verde</span>
                                            </label>

                                            <label class="opcao">
                                                <input type="radio" name="cor" value="amarelo">
                                                <span>Amarelo</span>
                                            </label>

                                            <label class="opcao">
                                                <input type="radio" name="cor" value="cinza">
                                                <span>Cinza</span>
                                            </label>

                                            <label class="opcao">
                                                <input type="radio" name="cor" value="rosa">
                                                <span>Rosa</span>
                                            </label>

                                            <label class="opcao">
                                                <input type="radio" name="cor" value="violeta">
                                                <span>violeta</span>
                                            </label>

                                            <label class="opcao">
                                                <input type="radio" name="cor" value="marrom">
                                                <span>Marrom</span>
                                            </label>

                                            <label class="opcao">
                                                <input type="radio" name="cor" value="branco">
                                                <span>Branco</span>
                                            </label>

                                            <label class="opcao">
                                                <input type="radio" name="cor" value="preto">
                                                <span>Preto</span>
                                            </label>
                                        </div>

                                        <!-- PEDRA PREFERIDA -->
                                        <div class="col-md-6">
                                            <label class="titulo-grupo">Pedra Preferida</label>

                                            <label class="opcao">
                                                <input type="radio" name="pedra" value="rubi" required>
                                                <span>Rubi</span>
                                            </label>

                                            <label class="opcao">
                                                <input type="radio" name="pedra" value="safira">
                                                <span>Safira</span>
                                            </label>

                                            <label class="opcao">
                                                <input type="radio" name="pedra" value="esmeralda">
                                                <span>Esmeralda</span>
                                            </label>

                                            <label class="opcao">
                                                <input type="radio" name="pedra" value="ametista">
                                                <span>Ametista</span>
                                            </label>

                                            <label class="opcao">
                                                <input type="radio" name="pedra" value="topazio">
                                                <span>Topázio</span>
                                            </label>

                                            <label class="opcao">
                                                <input type="radio" name="pedra" value="turquesa">
                                                <span>Turquesa</span>
                                            </label>

                                            <label class="opcao">
                                                <input type="radio" name="pedra" value="opala">
                                                <span>Opala</span>
                                            </label>

                                            <label class="opcao">
                                                <input type="radio" name="pedra" value="jade">
                                                <span>Jade</span>
                                            </label>

                                            <label class="opcao">
                                                <input type="radio" name="pedra" value="quartzo">
                                                <span>Quartzo</span>
                                            </label>

                                            <label class="opcao">
                                                <input type="radio" name="pedra" value="lapis-lazuli">
                                                <span>Lápiz Lazúli</span>
                                            </label>
                                        </div>

                                    </div>

                                    <div class="col-md-12 text-center mt-3">

                                        <button type="submit">Enviar</button>
                                    </div>

                                </form>

                            </div>

                        </div>

                    </div>

                </section>

                <div id="resultado-oraculo" class="resultado hidden">
                    <p class="titulo">O Oráculo revela:</p>
                    <p id="mensagem"></p>

                    <button type="button" id="btn-voltar" class="btn-oraculo">
                        Voltar para o início
                    </button>
                </div>
            </div>


        </section>

        <!-- Clients Section -->
        <section id="clients" class="clients section">

            <div class="container">

                <div class="row gy-4">

                    <div class="col-xl-3 col-md-3 col-6 client-logo">
                        <img src="static/img/logo-fatec_zL.png" class="img-fluid" alt="">
                    </div><!-- End Client Item -->

                    <div class="col-xl-3 col-md-3 col-6 client-logo">
                        <img src="static/img/logo-CPS.png" class="img-fluid" alt="">
                    </div><!-- End Client Item -->

                    <div class="col-xl-3 col-md-3 col-6 client-logo">
                        <img src="static/img/logo-sp.png" class="img-fluid" alt="">
                    </div><!-- End Client Item -->

                    <div class="col-xl-3 col-md-3 col-6 client-logo">
                        <img src="static/img/fatecportaslogo.png" class="img-fluid" alt="">
                    </div><!-- End Client Item -->

                </div>

            </div>

        </section><!-- /Clients Section -->

    </main>

    <!-- Scroll Top -->
    <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <!-- Preloader -->
    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="static/vendor/aos/aos.js"></script>

    <!-- Main JS File -->
    <script src="static/js/main.js"></script>

</body>

</html>